@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin transition($property: all, $duration: 0.3s) {
    transition: $property $duration ease-in-out;
  }